
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
    font-family:  monospace;
}
#tasks-container{
    padding: 0px 100px 0px 100px;
}
.br-20 {
    border-radius: 20px;
    margin: auto;
}
body{
    background-color: rgb(242, 239, 239)
}

// Components
@import "./components/taskcard";
@import "./components/tasklist";
@import "./components/taskcreatecomponent";
@import "./components/audittrailviewcomponent";

// Screens
@import "./screens/homescreen"

